.header {
	height: 6.5rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

	.wrap {
		height: 100%;
		max-width: 1450px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.logo {
			width: 13rem;

			img {
				width: 100%;
				margin: 0;
			}
		}

		.call-to-actions {
			display: flex;
			justify-content: flex-end;

			ul,
			li {
				margin: 0;
				padding: 0;
			}

			ul {
				display: flex;
				justify-content: space-between;
			}

			li {
				list-style: none;
				margin-right: 1.5rem;

				&:last-child {
					margin-right: 0;
				}

				a {
					font-size: 1.8rem;
					line-height: 1;
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
				}

				.log-out {
					cursor: pointer;
					text-transform: uppercase;
				}
			}
		}
	}
}
