.header {
	height: 6.5rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-around;
	/* Navbar */
	.navbar {
		height: 6.5rem;
		position: fixed;
		width: 100%;
		padding: 0.75rem 2rem;
		background: var(--offWhite);
		z-index: 1;
	}
	.nav-header {
		display: flex;
		justify-content: space-between;
	}
	.nav-btn {
		background: transparent;
		border: none;
		cursor: pointer;
		outline: none;
	}
	.nav-icon {
		font-size: 1.5rem;
		color: var(--primaryColor);
	}
	.nav-links {
		display: flex;
		justify-content: flex-end;
		height: 0;
		overflow: hidden;
		transition: var(--mainTransition);
		list-style-type: none;

		.nav-links a {
			display: block;
			text-decoration: none;
			padding: 1rem 0;
			color: var(--mainBlack);
			transition: var(--mainTransition);
			text-align: center;
			font-size: 1rem;
			font-weight: 600;
			letter-spacing: var(--mainSpacing);

			&:hover {
				color: var(--primaryColor);
			}
		}
	}

	.show-nav {
		height: 100px;
	}
	/* end of navbar */
	.wrap {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		height: 100%;
		// max-width: 1450px;
		display: flex;
		justify-content: space-between;
		// align-items: center;

		.logo {
			width: 13rem;

			img {
				width: 100%;
				margin: 0;
			}
		}

		nav {
			ul,
			li {
				margin: 0;
				padding: 0;
			}

			ul {
				display: flex;
				justify-content: space-between;
			}

			li {
				list-style: none;
				margin-right: 1.5rem;

				&:last-child {
					margin-right: 0;
				}

				a {
					font-size: 1.8rem;
					line-height: 1;
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}

		.call-to-actions {
			display: flex;
			justify-content: flex-end;

			ul,
			li {
				margin: 0;
				padding: 0;
			}

			ul {
				display: flex;
				justify-content: space-between;
			}

			li {
				list-style: none;
				margin-right: 1.5rem;

				&:last-child {
					margin-right: 0;
				}

				a {
					font-size: 1.8rem;
					line-height: 1;
					color: #000;
					text-decoration: none;
					text-transform: uppercase;
				}

				.log-out {
					cursor: pointer;
					text-transform: uppercase;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}

	.nav-center {
		display: flex;
		justify-content: space-around;
		// max-width: 1170px;
		width: 100%;
		// margin: 0 auto;
	}
	.nav-links {
		height: auto;
		display: flex;
		margin-left: 4rem;

		a {
			margin: 0 1rem;
			padding: 0.5rem 0;
		}
	}
}
